.cta {
  --padding-vertical: 1rem;
  display: inline-block;
  appearance: none;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: var(--padding-vertical) 2rem;
  margin-bottom: 1rem;
  line-height: var(--font-size-normal);
  font-size: var(--font-size-normal);
  border-radius: calc(var(--padding-vertical) * 2 + var(--font-size-normal));
  text-decoration: none;
  color: var(--theme-colour-2)!important;
  overflow: hidden;
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iconWrapper {
  margin-left: 1.5rem;
  width: 1.5rem;
}

.iconWrapper > svg {
  display: block;
  width: 100%;
}

.ctaSizeLarge {
  --padding-vertical: 1.5rem;
  line-height: var(--font-size-emphasis);
  font-size: var(--font-size-emphasis);
  border-radius: calc(var(--padding-vertical) * 2 + var(--font-size-emphasis));
}

.ctaPrimary {
  background-color: var(--theme-colour-5);
  color: var(--theme-colour-2);
  transition: all 200ms ease;
}

.ctaPrimary:hover {
  background-color: var(--theme-colour-6);
}

.ctaSecondary {
  border: 1px solid var(--theme-colour-1);
  transition: border-color 200ms ease;
  background-color: rgb(255, 255, 255);
}

.ctaSecondary:hover {
  border-color: var(--theme-colour-2);
}

.ctaTertiary {
  background-color: var(--theme-colour-1);
  color: rgb(255, 255, 255)!important;
  transition: all 200ms ease;
}

.ctaTertiary:hover {
  background-color: var(--theme-colour-5);
  color: var(--theme-colour-2)!important;
}

.cta:hover .iconWrapper {
  animation: ctaAnimation 2s ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes ctaAnimation {
  0%   { transform: rotate(0) translateX(0); }
  10%  { transform: rotate(-90deg) translateX(0); }
  30%  { transform: rotate(-90deg) translateX(3rem); opacity: 1;}
  31% { transform: rotate(-90deg) translateX(3rem); opacity: 0; }
  32% { transform: rotate(-90deg) translateX(-3rem); opacity: 0; }
  33% { transform: rotate(-90deg) translateX(-3rem); opacity: 1; }
  50% { transform: rotate(-90deg) translateX(0); }
  70% { transform: rotate(0) translateX(0); }
}
