:root {
  --page-container-padding: 5vw;
}

.pageContainer {
  margin: 0 auto;
  max-width: 80rem;
}

.hasPadding {
  padding-left: var(--page-container-padding);
  padding-right: var(--page-container-padding);
}

@media screen and (min-width: 768px) {
  .hasOnlyLargeScreensPadding {
    padding-left: var(--page-container-padding);
    padding-right: var(--page-container-padding);
  }
}

.forceNarrowContent {
  max-width: 52rem;
}
