:root {
  --parallaxHeroStarMainSize: 23rem;
  --parallaxHeroStarLeftSize: 12rem;
  --parallaxHeroStarRightSize: 9rem;
}

.wrapper {
  padding-top: 3.5rem;
  position: relative;
  overflow: hidden;
}

.content {
  position: relative;
  z-index: 2;
}

/* images */
.phoneStarMain,
.phoneStarLeft,
.phoneStarRight {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: var(--parallaxHeroStarMainSize);
  left: calc(50% - (var(--parallaxHeroStarMainSize) / 2));
}

.phoneStarLeft {
  width: var(--parallaxHeroStarLeftSize);
  left: calc(var(--parallaxHeroStarLeftSize) / (-2));
  bottom: 2rem;
}

.phoneStarRight {
  width: var(--parallaxHeroStarRightSize);
  left: auto;
  right: calc(var(--parallaxHeroStarRightSize) / (-2));
  bottom: 2rem;
}

.star {
  display: block;
  position: absolute;
  z-index: 1;
}

.starLayer1,
.starLayer2,
.starLayer3 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.starLayer1 .star {
  width: 1.5rem;
}

.starLayer2 .star {
  width: 1rem;
}

.starLayer3 .star {
  width: 0.8rem;
}

.star1 {
  bottom: 47%;
  left: 32%;
}

.star2 {
  bottom: 30%;
  right: 23%;
}

.star3 {
  bottom: 80%;
  right: 5%;
}

.star4 {
  bottom: 60%;
  left: 2%;
}

.star5 {
  bottom: 50%;
  right: 2%;
}

.star6 {
  bottom: 65%;
  right: 35%;
}

.star7 {
  bottom: 30%;
  left: 25%;
}

.star8 {
  left: 35%;
  top: 5%;
}

.star9 {
  bottom: 85%;
  left: 5%;
}

.star10 {
  top: 0%;
  left: 60%;
}

.star11 {
  left: 10%;
  bottom: 35%;
}

.star12 {
  bottom: 27%;
  right: 10%;
}


@media screen and (min-width: 600px) {
  .phoneStarLeft {
    left: 9vw;
  }

  .phoneStarRight {
    right: 11vw;
  }

  .star10 {
    top: 5%;
  }
}
